<app-header></app-header>
<div class="container">
    <div class="content">
      <div class="image-container">
        <img src="../../../assets/images/fondo-servicio.jpg" class="representative-image">
      </div>
      <div class="text-content">
        <h1>Estamos listos para asistirte <span>desde tu hogar u oficina</span></h1>
        <p>Ingresa tus sugerencias y reclamos de manera ágil sin necesidad de acercarte a las agencias.</p>
        <p>Recuerda tener actualizados tus datos de contacto para recibir notificaciones.</p>
        <div class="button-grid">
          <button class="action-button">RECLAMOS PERSONAS</button>
          <button class="action-button">RECLAMOS ANÓNIMOS</button>
          <button class="action-button">RECLAMOS EMPRESAS</button>
          <button class="action-button">SUGERENCIAS</button>
        </div>
        <p class="important-note">
          <strong>Importante:</strong> puedes conocer el proceso de atención de quejas y reclamos, <a href="#">aquí.</a>
        </p>
      </div>
    </div>
  </div>
<app-footer></app-footer>