/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";

body {
    margin: 0 !important;
    padding: 0 !important;
}

.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {
    color: white;
}

.p-breadcrumb .p-breadcrumb-home .p-menuitem-link .pi {
    color: white;
}

.p-breadcrumb .p-breadcrumb-list li.p-menuitem-separator {
    color: white;
}
