::ng-deep .btn-find .p-button{
    background-color: #93aacc !important;
    color: white;
    border-radius: 5px;
    border: none;
}

.footer-custom{
    color: white;
    background-color: #77879e !important;
}

a{
    text-decoration: none;
    color: white !important;
}

a:hover{
 color: #30629b !important;
 text-decoration: underline;
}
