<footer class="footer-custom bg-white p-5">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-between gap-8">
            <div class="flex-1 min-w-[220px]">
                <h3 class="font-bold text-lg mb-4">Contacto y ayuda</h3>
                <div class="space-y-3">
                    <p-button class="btn-find" icon="pi pi-map-marker" label="Encuentra tu Banco" rounded="true" />
                    <div>
                        <p class="font-medium font-bold">Banca telefónica:</p>
                        <i class="pi pi-phone mr-2" ></i>
                        <a href="tel:(02)2999999" class="text-blue-900">(02) 2999 999</a>
                    </div>
                    <div>
                        <p class="font-medium font-bold">WhatsApp:</p>
                        <i class="pi pi-whatsapp mr-2" ></i>
                        <a href="tel:096299299" class="text-blue-900 text-bold">096 299 2999</a>
                    </div>
                    <p-divider class="custom-divider"/>
                    <div class="space-y-2">
                        <a href="#" class="block text-blue-900 mb-3">Sugerencias y reclamos</a>
                        <a href="#" class="block text-blue-900">Tips de seguridad</a>
                    </div>
                </div>
            </div>

            <div class="flex-1 min-w-[220px]">
                <h3 class="font-bold text-lg mb-4">Canales de atención</h3>
                <div class="space-y-2">
                    <a href="#" class="block text-blue-900 mb-3">Banca Web</a>
                    <a href="#" class="block text-blue-900 mb-3">Banca Móvil</a>
                    <a href="#" class="block text-blue-900 mb-3">Mi vecino</a>
                    <a href="#" class="block text-blue-900 mb-3">Deunal</a>
                    <a href="#" class="block text-blue-900 font-medium">Ver todos</a>
                </div>
            </div>

            <div class="flex-1 min-w-[220px]">
                <h3 class="font-bold text-lg mb-4">Para tu interés</h3>
                <div class="space-y-2">
                    <a href="#" class="block text-blue-900 mb-3">Crédito de consumo</a>
                    <a href="#" class="block text-blue-900 mb-3">Crédito hipotecario</a>
                    <a href="#" class="block text-blue-900 mb-3">Cuenta de ahorro flexible</a>
                    <a href="#" class="block text-blue-900 mb-3">Inversión en línea</a>
                    <a href="#" class="block text-blue-900 mb-3">Venta de bienes</a>
                    <a href="#" class="block text-blue-900 mb-3">Programa Beta Testers</a>
                </div>
            </div>

            <div class="flex-1 min-w-[220px]">
                <h3 class="font-bold text-lg mb-4">Sobre nosotros</h3>
                <div class="space-y-2">
                    <a href="#" class="block text-blue-900 mb-3">Tasas y tarifas</a>
                    <a href="#" class="block text-blue-900 mb-3">Trabaja con nosotros</a>
                    <a href="#" class="block text-blue-900 mb-3">¿Quienes somos?</a>
                    <a href="#" class="block text-blue-900 mb-3">Lo que ofrecemos</a>
                    <a href="#" class="block text-blue-900 mb-3">Transparencia</a>
                    <a href="#" class="block text-blue-900">Desarrollo sostenible</a>
                </div>
            </div>
        </div>
        <p-divider />
        <!-- Enlaces de redes sociales -->
        <div class="mt-3 flex justify-content-center justify-between">
            <div class="flex flex-wrap column-gap-4">
                <a href="#" class="text-blue-900"><i class="pi pi-instagram" style="font-size: 24px;"></i></a>
                <a href="#" class="text-blue-900"><i class="pi pi-facebook" style="font-size: 24px;"></i></a>
                <a href="#" class="text-blue-900"><i class="pi pi-twitter" style="font-size: 24px;"></i></a>
                <a href="#" class="text-blue-900"><i class="pi pi-youtube" style="font-size: 24px;"></i></a>
                <a href="#" class="text-blue-900"><i class="pi pi-linkedin" style="font-size: 24px;"></i></a>
                <a href="#" class="text-blue-900"><i class="pi pi-tiktok" style="font-size: 24px;"></i></a>
            </div>
            <div class="flex flex-wrap column-gap-4 ml-auto"> <!-- Añadido ml-auto para empujar a la derecha -->
                <a href="#" class="text-blue-900">Educación financiera</a>
                <a href="#" class="text-blue-900">Legal</a>
            </div>
        </div>
    </div>
</footer>